In [1]:
import torch

from Baseline import Baseline
from submitter import deep_submitter
device = torch.device('cuda')

In [2]:
model = Baseline(20).to(device)
y_test = deep_submitter(model, save_path='data/submission.csv')

100%|██████████| 144/144 [00:01<00:00, 112.77it/s]

In [3]:
y_test

          SAMPLE_ID     CI_HOUR
0       TEST_000000   39.222542
1       TEST_000001  100.665359
2       TEST_000002    0.000000
3       TEST_000003    0.000000
4       TEST_000004   89.989014
...             ...         ...
244984  TEST_244984  106.274834
244985  TEST_244985  119.528290
244986  TEST_244986    0.000000
244987  TEST_244987    0.000000
244988  TEST_244988   96.547997

[244989 rows x 2 columns]

In [4]:
y_test.describe()

             CI_HOUR
count  244989.000000
mean       43.654974
std        75.175409
min         0.000000
25%         0.000000
50%        28.874660
75%        63.114300
max      3455.205322