In [1]:
import numpy as np
import pandas as pd
import pickle

from submitter import xgb_submitter

In [2]:
with open('checkpoints/best_model.xgb', 'rb') as f:
    best_model = pickle.load(f)

y_test = xgb_submitter(best_model, save_path='data/xgb_submission.csv')

In [3]:
y_test

          SAMPLE_ID     CI_HOUR
0       TEST_000000    1.660245
1       TEST_000001   37.034203
2       TEST_000002   26.381069
3       TEST_000003  108.905296
4       TEST_000004    0.000000
...             ...         ...
220486  TEST_220486  153.365723
220487  TEST_220487   84.596115
220488  TEST_220488   31.080383
220489  TEST_220489    0.000000
220490  TEST_220490   37.679535

[220491 rows x 2 columns]

In [4]:
y_test.describe()

             CI_HOUR
count  220491.000000
mean       31.144444
std        57.083975
min         0.000000
25%         0.000000
50%        14.884773
75%        44.356033
max      1663.866211