In [6]:
import numpy as np
import pandas as pd
import pickle

from xgboost import XGBRegressor
from submitter import xgb_submitter

In [7]:
with open('checkpoints/best_model.xgb', 'rb') as f:
    best_model = pickle.load(f)

y_test = xgb_submitter(best_model, save_path='data/xgb_submission.csv')

In [4]:
y_test

          SAMPLE_ID     CI_HOUR
0       TEST_000000   25.573578
1       TEST_000001   41.509911
2       TEST_000002    0.000000
3       TEST_000003    0.000000
4       TEST_000004   55.539124
...             ...         ...
244984  TEST_244984   33.875881
244985  TEST_244985  114.415230
244986  TEST_244986    0.000000
244987  TEST_244987    0.000000
244988  TEST_244988   29.862267

[244989 rows x 2 columns]

In [5]:
y_test.describe()

             CI_HOUR
count  244989.000000
mean       32.913279
std        81.407794
min         0.000000
25%         0.000000
50%        14.551239
75%        45.011570
max      6999.638184